<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.azureapp">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="WrongManifestParent" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:ignore="WrongManifestParent" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:ignore="WrongManifestParent" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_azure"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_azure"
        android:supportsRtl="true"
        android:theme="@style/Theme.AzureAPP">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        //主界面
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //启动界面
        <activity android:name=".WelcomeActivity" >
        </activity>

        //开始界面
        <activity android:name=".StartActivity">
        </activity>

        //登陆界面
        <activity android:name=".LoginActivity">
        </activity>

        //登陆界面（网页）
        <activity android:name=".LoginWebActivity">
        </activity>

        //验证界面
        <activity android:name=".VerifyActivity">
        </activity>

        //验证界面（网页）
        <activity android:name=".VerifyWebActivity">
        </activity>

        //虚拟机列表界面
        <activity
            android:name=".ui.virtualmachine.VirtualMachineActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        //创建虚拟机界面
        <activity android:name=".ui.virtualmachine.VMCreateActivity">
        </activity>

        //虚拟机详细信息界面
        <activity android:name=".ui.virtualmachine.VirtualMachineDetailActivity">
        </activity>

        //数据库界面
        <activity android:name=".ui.database.DataBaseActivity"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>